## Database
DATABASE_URL=postgresql://root:root@localhost:5432/iut-intranet-db

## API Server
API_PORT=8000
API_URL=http://localhost:8000

## App (frontend, futur)
APP_URL=http://localhost:5173

## Auth
BETTER_AUTH_SECRET=YOUR_BETTER_AUTH_SECRET
