## JrCanDev
NAME=iut-intranet

## Database
DATABASE_URL=postgresql://root:root@localhost:5432/iut-intranet-db

## API Server
API_PORT=8000
PUBLIC_API_URL=http://localhost:8000/api

## App (frontend)
APP_PORT=5173
PUBLIC_APP_URL=http://localhost:5173

## Auth
BETTER_AUTH_SECRET=YOUR_BETTER_AUTH_SECRET

## Email
EMAIL_FROM=onboarding@resend.dev
RESEND_API_KEY=YOUR_RESEND_API_KEY